*{
    margin: 0;
    padding: 0;
 font-family: 'poppins', sans-serif;
 box-sizing: border-box;

}
body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 29%, rgba(238,174,202,1) 34%, rgba(238,174,202,1) 38%, rgba(219,176,209,1) 51%, rgba(199,179,216,1) 54%, rgba(180,182,222,1) 65%, rgba(165,184,227,1) 73%, rgba(148,187,233,1) 100%);;
    color:black;
    margin: 100px auto 100px;
    border-radius: 20px;
    padding: 40px 40px;
    text-align: center;

}
.search{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search input{
    border: 0;
    outline: 0;
    background: #323434;
    color:white;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;

}
.search button{
    border: 0;
    outline: 0;
    background: #323434;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button:hover{
    background-color: #fff;
}
.search button img{
    width: 16px;

}
.weather-icon{
    text-transform: capitalize;
    width: 170px;
    margin-top: 30px;

}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h1{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 20px;
 margin-top: 50px;                                
 
}
.col p{ 
    font-size: larger;
    margin-top: 7px;
    font-weight: 400;

}